fieldset{
    background-color: lightgreen;
}
#nev{
    background-color: greenyellow;
    font-size: large;
    width: 560px;
}
#törlés,#mentes {
    background-color: greenyellow;
    border-radius: 12px;
    
}

body
{
    width: 600px;
}
legend
{
    border: 1px solid black;
    background-color: lightgreen;
    color: darkgreen;
    font-size: large;
    font-weight: bold;
    padding: 10px;
}
#harom
{
   line-height: 20px;
}